#version 420 core

@ME_INSERT:FRAGMENT_IN_TEXCOORDS@
@ME_INSERT:FRAGMENT_LIGHTING_VARYINGS@

layout(location = 0) out vec4 FragColor;

@ME_INSERT:FRAGMENT_PREAMBLE@
@ME_INSERT:FRAGMENT_SCENE_LIGHTING@
@ME_INSERT:FRAGMENT_MATERIAL_INPUTS_STRUCT@
@ME_INSERT:FRAGMENT_MATERIAL_PARAMETERS_STRUCT@

void main()
{
@ME_INSERT:FRAGMENT_TEXCOORD_SETUP@
@ME_INSERT:FRAGMENT_STAGE_BODY@
@ME_INSERT:FRAGMENT_MASKED_CLIP@
    FragColor = vec4(
        FragmentMaterialInputs.Albedo + FragmentMaterialInputs.Emissive,
        FragmentMaterialInputs.Opacity);
}
